{% extends 'admin_base.html' %}

{% block title %}
Daftar Soal
{% endblock title %}

{% block body %}
<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h5 class="m-0 font-weight-bold text-primary">Daftar Soal</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Soal</th>
              <th scope="col">Pilihan</th>
              <th scope="col">Jawaban benar</th>
              <th scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for dt in data.soal %}
            {% if dt.user_made == user.id %}
              <tr>
                <th scope="row">{{dt.sid}}</th>
                <td>{{dt.Soal}} </td>
                <td>
                  <ol type='A'>
                    <li>{{dt.jawab1}} </li>
                    <li>{{dt.jawab2}} </li>
                    <li>{{dt.jawab3}} </li>
                    <li>{{dt.jawab4}} </li>
                  </ol>
                </td>
                <td>{{dt.sbenar}} </td>
                <td class="text-white text-center">
                  <a class="btn badge badge-warning" href="#"><i class="fas fa-fw fa-edit"></i> Edit</a>
                  <a class="btn badge badge-danger" href="#"><i class="fas fa-fw fa-trash"></i> Delete</a>|
                </td>
              </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <div class="mt-4">
          <a href="../adm/input" class="btn btn-outline-info"><i class="fas fa-fw fa-plus-square"> </i>Tambah Soal</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}