{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{% static 'img/buku.png' %}" type="image/x-icon" />
  <title>Admin Bank Soal</title>
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">
  {% if user.is_authenticated %}
    {% if user.is_staff == 0 %}
    <script>
      document.location.href = "{% url 'murid' %}";
    </script>
    {% else %}
    <script>
      document.location.href = "{% url 'guru' %}";
    </script>
    {% endif %}
  {% else %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8 mt-5">
        <div class="card bg-light p-3">
          <div class="card-body">
            <h1 class="text-center">LOGIN TO ADMIN BANK SOAL</h1>
            <div class="row mt-5">
              <div class="col-5">
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Login with Google
                </a>
              </div>
              <div class="col"></div>
              <div class="col-4 text-right">
                <a href="/" class="btn btn-primary">Login By User</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>


  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %} "></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %} "></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/datatables-demo.js' %} "></script>

</body>

</html>