{% extends 'blog/admin_login.html' %} {% block body %}

<h1>.</h1>
<div class="container mt-5">
  <div class="card mb-3">
    <div class="card-body">
      <table class="table table-success">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Soal</th>
            <th scope="col">Pilihan</th>
            <th scope="col">Jawaban benar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <a href="input" class="btn btn-info">input</a>
  <button type="button" class="btn btn-info">post</button>
  <button type="button" class="btn btn-info">update</button>
  <button type="button" class="btn btn-info">delete</button>
</div>

{% endblock body %}