{% extends 'blog/admin_login.html' %} {% block body %}

<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Soal</th>
        <th scope="col">Pilihan</th>
        <th scope="col">Jawaban benar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-info">input</button>
  <button type="button" class="btn btn-info">post</button>
  <button type="button" class="btn btn-info">update</button>
  <button type="button" class="btn btn-info">delete</button>
</div>

{% endblock body %}
